/* Font Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

section.active .show-modal{
    display: none;
}

section.active .modal-event{
    display: block;
    pointer-events: auto;
}

section.active .overlay{
    opacity: 1;
    pointer-events: auto;
}


button{
    font-size: 18px;
    font-weight: 400;
    color: white;
    background-color: rgb(154, 154, 252);
    border: none;
    padding: 14px 22px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

button.show-modal
, .modal-event{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    pointer-events: none;
    opacity: 0;
}

.modal-event{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    z-index: 9999;
    max-width: 380px;
    width: 100%;
    border-radius: 10px;
    padding: 25px 15px;
    display: none;
}

.modal-event .title{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}

.modal-event .text{
    color: rgb(17, 17, 17);
    font-size: 14px;
    text-align: justify;
    padding-bottom: 20px;
}

.modal-event .footer{
    display: flex;
}

.modal-event .footer .next-btn{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: white;
    background-color: rgb(154, 154, 252);
    padding: 4px 14px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}
    
